[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}
nltk = "*"
mock = "*"
fastapi = "*"
uvicorn = "*"
tweepy = "~=4.0.0"
configparser = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
